/** @format */

@import '@styles/variables.scss';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 3px solid $mainOrange;
  border-radius: 15px;

  transition: box-shadow 0.3s ease 0s, transform 0.3s ease 0s;
  &:hover {
    box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.08);
    transform: translateY(-5px);
  }
  &:active {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.like {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
  cursor: pointer;
  path {
    fill: $mainWhite;
    transition: all 0.3s ease 0s;
  }
  &:hover {
    path {
      fill: $mainRed;
    }
  }
  &:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
}
.link {
  padding-bottom: 74.5%;
  position: relative;
}

.img {
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.title {
  font-size: 20px;
  font-weight: 900;
  margin: 20px;

  a {
    transition: all 0.3s ease 0s;
    &:hover {
      color: $mainOrange;
    }
  }
}
