/** @format */

.root {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 3px solid var(--orange);
  border-radius: 15px;
  color: var(--primary-black);
  transition: box-shadow 0.3s ease 0s, transform 0.3s ease 0s;
  background: var(--light-primary);
  &:hover {
    box-shadow: var(--shadow-card-hover);
    transform: translateY(-5px);
  }
}

.like {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
  cursor: pointer;
  path {
    fill: var(--primary);
    transition: all 0.3s ease 0s;
  }
  &:hover {
    path {
      fill: var(--red);
    }
  }
  &:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
}
.link {
  padding-bottom: 74.5%;
  position: relative;
}

.img {
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  transition: all 0.3s ease 0s;
  &:hover {
    transform: scale(1.02);
  }
  &:active {
    transform: scale(1);
  }
}

.body {
  font-size: 20px;
  font-weight: 900;
  margin: 20px 40px;
}

.title {
  transition: all 0.3s ease 0s;
  margin-bottom: 20px;
  &:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  a {
    transition: all 0.3s ease 0s;
    color: var(--primary-black);
    &:hover {
      color: var(--orange);
    }
  }
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    padding: 20px;
    border: 1px solid var(--primary-black);
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      color: var(--orange);
      border: 1px solid var(--orange);
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    &:active {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  }
}
