.list {
  @media (max-width: 599.98px) {
    margin-bottom: 15px;
  }
}
.label {
  white-space: nowrap;
  transition: color 0.3s ease 0s;
  margin-bottom: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  @media (max-width: 599.98px) {
    display: inline-flex;
    &::after {
      content: '';
      border-left: 8px solid var(--body-color);
      border-right: 8px solid var(--body-color);
      border-top: 12px solid var(--orange);
      transition: all 0.3s ease 0s;
      margin-left: 10px;
      &:hover {
        opacity: 0.6;
      }
    }
    &_open {
      &::after {
        transform: rotate(-180deg);
      }
    }
  }
}
.items {
  @media (max-width: 599.98px) {
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
    &_open {
      opacity: 1;
      visibility: visible;
    }
  }
}
.item {
  cursor: pointer;
  white-space: nowrap;
  transition: color 0.3s ease 0s;
  &::before {
    content: '';
    width: 5px;
  }
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &:hover {
    color: var(--orange);
    text-decoration: underline;
  }
  &:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
}
