/** @format */

@import '@styles/variables.scss';

.inner {
  background-color: $mainDarkColor;
  a:visited {
    color: $mainWhite;
  }
}
.container {
  display: flex;
  align-items: center;
  gap: 20px;
  min-height: 50px;
  padding: 10px;
}

.menu {
  flex: 1 1 auto;
}

.body {
}

.list {
  display: flex;
  flex-wrap: wrap;
  row-gap: rem(5);
  gap: 60px;
}

.item {
  transition: all 0.3s ease 0s;
  &:hover {
    a {
      text-decoration: underline;
    }
  }
  &:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
}

.link {
}
