.root {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 3px solid var(--orange);
  border-radius: 15px;
  color: var(--primary-black);
  transition: box-shadow 0.3s ease 0s, transform 0.3s ease 0s;
  background: var(--light-primary);
  &:hover {
    box-shadow: var(--shadow-card-hover);
    transform: translateY(-5px);
  }
}

.compare {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary-black);
  border-radius: 50%;
  right: 10px;
  top: 10px;
  z-index: 2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--body-color);
  transition: all 0.3s ease 0s;
  path {
    transition: all 0.3s ease 0s;
    fill: var(--primary-black);
  }
  &:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    path {
      fill: var(--orange);
    }
  }
  &:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
}
.link {
  padding-bottom: 74.5%;
  position: relative;
}

.img {
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  transition: all 0.3s ease 0s;
  &:hover {
    transform: scale(1.02);
  }
  &:active {
    transform: scale(1);
  }
}

.body {
  font-size: 20px;
  font-weight: 900;
  margin: 20px 40px;
  line-height: 1.2;
  @media (max-width: 479.98px) {
    margin: 10px;
    font-size: 18px;
  }
}

.title {
  transition: all 0.3s ease 0s;
  margin-bottom: 20px;
  &:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  a {
    transition: all 0.3s ease 0s;
    color: var(--primary-black);
    &:hover {
      color: var(--orange);
    }
  }
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    width: 163px;
    border: 1px solid var(--primary-black);
    border-radius: 16px;
    background: var(--button-color);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    @media (min-width: 991.98px) {
      &:hover {
        color: var(--orange);
        border: 1px solid var(--orange);
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
      }
      &:active {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
      }
    }
  }
}
