.actions {
  display: flex;
  align-items: center;
  column-gap: 30px;
  @media (max-width: 1599.98px) {
    column-gap: calc(0px + (30 - 0) * ((100vw - 320px) / (1920 - 320)));
  }
  @media (max-width: 991.98px) {
    column-gap: 15px;
    flex-direction: row-reverse;
  }
}
.location {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  margin-left: 25px;
  path {
    transition: all 0.3s ease 0s;
    fill: var(--primary-black);
  }
  span {
    transition: all 0.3s ease 0s;
    color: var(--primary-black);
  }
  &:hover {
    path {
      fill: var(--orange);
    }
    &:active {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    span {
      color: var(--orange);
    }
  }
  @media (max-width: 991.98px) {
    margin: 0px 15px 0px 0px;
    span {
      color: var(--white);
    }
    path {
      fill: var(--white);
    }
  }
  @media (max-width: 479.98px) {
    margin: 0px;
    span {
      display: none;
    }
  }
}
.svg {
  width: 25px !important;
  height: 36px !important;
  @media (min-width: 479.98px) {
    margin-right: 15px;
  }
  @media (max-width: 479.98px) {
    width: 20.83px !important;
    height: 30px !important;
  }
}
.link {
  font-size: 27px;
  position: relative;

  path {
    transition: all 0.3s ease 0s;
    fill: var(--primary-black);
  }
  span {
    transition: all 0.3s ease 0s;
    position: absolute;
    height: 20px;
    width: 20px;
    background: var(--orange);
    right: -3px;
    top: 0px;
    font-size: 12px;
    font-weight: 700;
    color: var(--primary-black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover {
    path {
      fill: var(--orange);
    }
    &:active {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  }
  @media (max-width: 991.98px) {
    span {
      color: var(--white);
    }
    path {
      fill: var(--white);
    }
  }
  @media (max-width: 479.98px) {
    span {
      font-size: 10px;
      height: 16px;
      width: 16px;
      right: -2px;
    }
  }
}
.compare {
  width: 41px !important;
  height: 36px !important;
  @media (max-width: 479.98px) {
    width: 34.17px !important;
    height: 30px !important;
  }
}
