.root {
  color: var(--primary-black);
}
.container {
  padding: 0px 10px;
}
.inner {
  padding: 20px 0px;
  border-top: 1px solid var(--primary-black);

  @media (min-width: 767.98px) {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }
  @media (max-width: 991.98px) {
    gap: 20px;
  }
}
.columns {
  display: flex;
  gap: 40px;
  @media (max-width: 991.98px) {
    gap: 18px;
  }
  @media (max-width: 767.98px) {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}
.column {
  @media (max-width: 767.98px) {
    &:nth-child(2) {
      order: 2;
    }
  }
  @media (max-width: 479.98px) {
    min-width: 280px;
  }
}
.logo {
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  font-size: 32px;
  white-space: nowrap;
  margin-bottom: 20px;
  path {
    transition: all 0.3s ease 0s;
    fill: var(--primary-black);
  }
  &:hover {
    path {
      fill: var(--orange);
    }
  }
  &:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
}
.title {
  margin-bottom: 20px;
  line-height: 1.2;
  a {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    span {
      transition: all 0.3s ease 0s;
      color: var(--primary-black);
    }
    path {
      transition: all 0.3s ease 0s;
      fill: var(--primary-black);
    }
    &:hover {
      path {
        fill: var(--orange);
      }
      &:active {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
      }
      span {
        color: var(--orange);
      }
    }
  }
}
.callback {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  width: 278px;
  height: 66px;
  border: 1px solid var(--primary-black);
  background: var(--button-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-bottom: 20px;
  @media (min-width: 991.98px) {
    &:hover {
      color: var(--orange);
      border: 1px solid var(--orange);
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    &:active {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  }
}
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg {
    transition: all 0.3s ease 0s;
    cursor: pointer;
    path {
      transition: all 0.3s ease 0s;
      fill: var(--primary-black);
    }
    @media (min-width: 991.98px) {
      &:hover {
        path {
          fill: var(--orange);
        }
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
      }
      &:active {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
      }
    }
  }
  @media (max-width: 767.98px) {
    gap: 20px;
  }
}
.info {
  li {
    &:first-child {
      font-weight: 700;
      font-size: 18px;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    a,
    a:visited {
      color: var(--primary-black);
      transition: all 0.3s ease 0s;
      display: inline-block;
    }
    @media (min-width: 991.98px) {
      a,
      a:visited {
        &:hover {
          color: var(--orange);
        }
        &:active {
          -webkit-transform: translateY(1px);
          transform: translateY(1px);
        }
      }
    }
  }
}
.map {
  border: 1px solid var(--primary-black);
  flex: 1 1 auto;
}
.copyright {
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
