.items {
  position: relative;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.phone {
  display: inline-block;
  font-weight: 600;
  white-space: nowrap;
  line-height: 1.2;
  transition: all 0.3s ease 0s;
  color: var(--primary-black);
  &:hover {
    color: var(--orange);
  }
  &:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
}
.mainNumber {
  @media (max-width: 991.98px) {
    color: var(--white);
  }
}

.arrow {
  border-left: 8px solid var(--body-color);
  border-right: 8px solid var(--body-color);
  border-top: 12px solid var(--orange);
  transition: all 0.3s ease 0s;
  margin-left: 10px;
  &:hover {
    opacity: 0.6;
  }
  &_open {
    transform: rotate(-180deg);
  }
  @media (max-width: 991.98px) {
    border-left: 8px solid var(--dark);
    border-right: 8px solid var(--dark);
  }
}

.list {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  margin-top: 5px;
  background-color: var(--light-primary);
  border: 1px solid var(--orange);
  padding: 12px;
  border-radius: 10px;
  box-shadow: var(--shadow-card-hover);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  li {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  &_open {
    opacity: 1;
    visibility: visible;
  }
}
