.search {
  flex: 1 1 auto;
}
.inner {
  background-color: var(--input-bg);
  border-radius: 3px;
  position: relative;
  border: 1px solid var(--primary-black);
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: 991.98px) {
    max-width: 377px;
  }
}
.icon {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  path {
    transition: all 0.3s ease 0s;
  }
}
.icon_search {
  left: 10px;
}
.icon_remove {
  right: 10px;
  transition: all 0.3s ease 0s;
  &:hover path:not(:first-child) {
    fill: var(--orange);
  }
}

.input {
  width: 100%;
  background-color: transparent;
  border-radius: 3px;
  height: 41px;
  color: var(--primary-black);
  padding: 0px 50px 0px 40px;
  font-size: 18px;
  transition: all 0.3s ease 0s;
  &::placeholder {
    color: var(--primary-black);
  }
  &:hover {
    box-shadow: var(--shadow-card-hover);
  }
  &:focus {
    box-shadow: var(--shadow-card-hover);
  }
}
