.list {
}
.label {
  white-space: nowrap;
  transition: all 0.3s ease 0s;
  margin-bottom: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.items {
}
.item {
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
  &::before {
    content: '';
    width: 5px;
  }
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &:hover {
    color: var(--orange);
    text-decoration: underline;
  }
  &:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
}
