.inner {
  position: relative;
  background-color: var(--dark);
  color: var(--primary);
  @media (max-width: 991.98px) {
    background-color: var(--dark);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    overflow: auto;
    z-index: 4;
    padding: 80px 0px 50px 0px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.7s ease 0s;
    &_open {
      visibility: visible;
      opacity: 1;
      right: 0;
    }
  }
}
.container {
  @media (min-width: 991.98px) {
    padding: 10px;
  }
}

.menu {
}

.menu-catalog {
}
.items {
  font-size: 18px;
  display: flex;
  @media (min-width: 991.98px) {
    justify-content: space-between;
    gap: 10px;
    font-weight: 700;
  }
  @media (max-width: 991.98px) {
    flex-direction: column;
    font-size: calc(18px + (40 - 18) * ((100vw - 320px) / (1920 - 320)));
    column-gap: 60px;
    row-gap: 5px;
  }
}

.item {
  cursor: pointer;
  white-space: nowrap;
  transition: color 0.3s ease 0s;
  &:hover {
    color: var(--orange);
  }
  &:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  &_open {
    color: var(--orange);
  }
  @media (min-width: 991.98px) {
    margin: 20px 0px;
  }
  @media (max-width: 991.98px) {
    border-bottom: 1px solid var(--grey);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::after {
      content: '';
      border-bottom: 12px solid var(--dark);
      border-top: 12px solid var(--dark);
      border-left: 18px solid var(--orange);
    }
  }
}

.sub-menu-catalog {
}

.sub_list {
  flex: 1 1 auto;
  display: flex;
  gap: 20px;
  padding: 15px 0px;
  overflow-x: auto;
  height: 100%;
  border-top: 1px solid var(--orange);
  transition: all 0.3s ease 0s;
  a,
  a:visited {
    color: var(--primary);
  }
  @media (max-width: 991.98px) {
    background-color: var(--dark);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    overflow: auto;
    z-index: 5;
    padding: 80px 0px 50px 0px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.7s ease 0s;
    &_open {
      visibility: visible;
      opacity: 1;
      right: 0;
    }
  }
}

.sub_item {
  line-height: 1.2;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
  flex: 0 0 13%;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: var(--orange);
  }
  &:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
}
@media (max-width: 991.98px) {
}
