/** @format */

@import '@styles/variables.scss';

.inner {
  position: relative;
  background-color: $mainDarkColor;
  color: $mainWhite;
}
.container {
  padding: 10px;
}

.menu {
}

.menu-catalog {
}
.list {
  font-weight: 700;
  font-size: 16px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.item {
  cursor: pointer;
  margin: 20px 0px;
  white-space: nowrap;
  transition: color 0.3s ease 0s;
  &:hover {
    color: $mainOrange;
  }
  &:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  &_open {
    color: $mainOrange;
  }
}

.sub-menu-catalog {
}

.sub_list {
  flex: 1 1 auto;
  display: flex;
  gap: 20px;
  padding: 15px 0px;
  background-color: #141414;
  overflow-x: auto;
  justify-content: space-between;
  height: 100%;
  border-top: 1px solid $mainOrange;
  transition: all 0.3s ease 0s;
  a,
  a:visited {
    color: $mainWhite;
  }
}

.sub_item {
  line-height: 1.2;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: $mainOrange;
  }
  &:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
}

.all {
  align-self: flex-start;
  font-size: 16px;
  color: $mainOrange;
  padding: 30px 15px 0px 15px;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
}
