.inner {
  position: relative;
  background-color: var(--dark);
  color: var(--primary);
}
.container {
  padding: 10px;
}

.menu {
}

.menu-catalog {
}
.list {
  font-weight: 700;
  font-size: 18px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.item {
  cursor: pointer;
  margin: 20px 0px;
  white-space: nowrap;
  transition: color 0.3s ease 0s;
  &:hover {
    color: var(--orange);
  }
  &:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  &_open {
    color: var(--orange);
  }
}

.sub-menu-catalog {
}

.sub_list {
  flex: 1 1 auto;
  display: flex;
  gap: 20px;
  padding: 15px 0px;
  overflow-x: auto;
  height: 100%;
  border-top: 1px solid var(--orange);
  transition: all 0.3s ease 0s;
  a,
  a:visited {
    color: var(--primary);
  }
}

.sub_item {
  line-height: 1.2;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
  flex: 0 0 13%;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: var(--orange);
  }
  &:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
}
